* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card {
    display: flex;
    position: relative;
    width: 750px;
    height: 450px;
    border: 5px grey solid;
    background-color: whitesmoke;
    margin: 50px auto;
}

.header {
    width: 850px;
    height: 150px;
    display: inline-flex;
    background-color: #2ec4df;
}

.propic {
    width: 120px;
    border-radius: 200px;
    display: inline-flex;
    border: 8px solid white;
    position: absolute;
    top: 80px;
    left: 50px;
}

h1 {
    display: inline-flex;
    position: absolute;
    top: 200px;
    left: 40px;
}

.locationicon {
    position: absolute;
    width: 17px;
    top: 250px;
    left: 40px;
}

.seattle {
    position: absolute;
    width: 17px;
    top: 250px;
    left: 70px;
}

.skills {
    position: absolute;
    font-weight: bold;
    top: 310px;
    left: 40px;
}

.bio {
    position: absolute;
    font-weight: bold;
    top: 285px;
    left: 40px;
}

.gearicon {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 25px;
}

a {
    position: absolute;
    font-weight: bold;
    bottom: 43px;
    right: 575px;
}








